<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="实验室预约系统.Properties.Settings.DataConnectionString"
            connectionString="Data Source=LAPTOP-56PU23A6\SQLEXPRESS;Initial Catalog=Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>